.header {
  position: fixed;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: transparent;
  color: var(--text);
  display: flex;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}

.header a {
  text-decoration: none;
  color: var(--text);
  font-size: 1.5rem;
  font-weight: bold;
}

.header a:hover {
  color: var(--text-hover);
}

.navigation {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.navigation li a {
  text-decoration: none;
  color: var(--text);
  font-size: 1rem;
}

.navigation li a:hover {
  color: var(--text-hover);
}

.greeting {
  color: white;
}
