.storyCard {
  background-color: var(--card);
  border: 1px solid var(--border);
  border-radius: 16px;
  overflow: hidden;
  max-width: 421px;
  transition: background-color 0.3s ease;
}

.mainImage {
  background-color: #dbdbdb;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.contentWrapper {
  padding: 24px;
}

.category {
  font-weight: 600;
  font-size: 12px;
  margin-bottom: 8px;
}

.title {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 8px;
}

.description {
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 24px;
}

.userWrapper {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 24px;
}

.avatarImage {
  border-radius: 100%;
}

.userName {
  font-weight: 600;
  font-size: 12px;
}

.infoWrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.infoWrapper span {
  font-weight: 400;
  font-size: 16px;
}

.date {
  font-weight: 400;
  font-size: 12px;
}

.favoriteWrapper {
  display: flex;
  align-items: center;
  gap: 2px;
}

.favoriteCount {
  font-weight: 400;
  font-size: 12px;
}

.favoriteIcon,
.bookmarkIcon {
  fill: var(--text);
}

.buttonsWrapper {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.showStory {
  flex: 1;
  border: 1px solid var(--button-border);
  border-radius: 8px;
  padding: 6px 12px;
  background-color: var(--button);
  font-weight: 500;
  font-size: 16px;
  color: var(--text);
}

.bookmarkStory {
  border: 1px solid var(--button-border);
  border-radius: 8px;
  padding: 12px;
  background-color: var(--button);
  display: flex;
  justify-content: center;
  align-items: center;
}

.bookmarkIcon {
  transition: fill 0.2s ease;
}

.showStory:hover,
.showStory:focus,
.bookmarkStory:hover,
.bookmarkStory:focus {
  background-color: var(--button-hover);
  color: var(--button-hover-text);
}

.bookmarkStory:hover .bookmarkIcon,
.bookmarkStory:focus .bookmarkIcon {
  fill: var(--button-hover-text);
}

.showStory:active,
.bookmarkStory:active {
  background-color: var(--button-active);
}
