.navigationItem,
.storyButtonElAuth,
.headerLinkNav {
  display: none;
}

.userPhoto {
  border-radius: 50%;
}
.userDefaultPhoto {
  background-image: url(/header/placeholder-image.png);
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.line {
  display: block;
  border: 1px solid rgba(0, 0, 0, 0.15);
  width: 29px;
  height: 0px;
  padding: 0;
  margin: 0;
  transform: rotate(-90deg);
  margin-left: -8px;
  margin-right: -8px;
}
.storyButtonElAuth {
  display: block;
  width: 100%;
  padding: 0;
  background-color: var(--color-royal-blue);
  color: var(--color-white);
  margin-left: 32px;
  border-radius: 8px;
}
.storyLinkElAuth {
  padding: 4px 10px;
  text-align: center;
}
.storyButtonElTransparentAuth {
  background-color: var(--color-white);
  color: var(--color-neutral-darkest);
}

@media (min-width: 769px) {
  .navigationItem,
  .storyButtonElAuth,
  .headerLinkNav {
    display: flex;
  }
  .navigationItem {
    display: flex;
    flex-wrap: nowrap;
    gap: 8px;
    align-items: center;
    margin-left: 16px;
  }
  .headerLinkNav {
    padding: 4px 0;
    flex-wrap: nowrap;
  }
}
@media (min-width: 1024px) {

  .storyButtonElAuth {
    width: auto;
    flex-shrink: 1;
    white-space: nowrap;
    margin-left: 32x;
  }

  .storyLinkElAuth {
    display: block;
    padding: 4px 10px;
    text-align: center;
  }
}
