.join_section {
  padding: 32px 0;
  min-width: 335px;
  box-sizing: border-box;
}

.texts {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  border: 1px solid var(--color-scheme-1-border);
  border-radius: 24px;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.2)), url(/images/Join/mobile-min.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (min-resolution: 2x), (-webkit-device-pixel-ratio: 2x) {
  .texts {
    background-image:
      linear-gradient(rgba(0, 0, 0, 0.2)), url(/images/Join/mobile\ 2x-min.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

.join_to {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 26px;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: var(--color-white);
  margin-bottom: 16px;
}

.tab {
  display: none;
}

.description {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-white);
  max-width: 295px;
  margin-bottom: 24px;
}

.button {
  padding: 12px 83px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-white);
  background-color: #4169e1;
  max-width: 295px;
  border: 1px solid var(--color-royal-blue);
  border-radius: 8px;
}

@media (min-width: 768px) {
  .texts {
    padding: 32px;
    background-image:
      linear-gradient(rgba(0, 0, 0, 0.2)), url(/images/Join/tablet-min.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  @media screen and (min-resolution: 2x), (-webkit-device-pixel-ratio: 2x) {
    .texts {
      background-image:
        linear-gradient(rgba(0, 0, 0, 0.2)),
        url(/images/Join/tablet\ 2x-min.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }

  .join_to {
    font-weight: 700;
    font-size: 32px;
    max-width: 558px;
    margin-bottom: 8px;
  }

  .tab {
    display: inline;
  }
  .description {
    max-width: 558px;
    margin-bottom: 16px;
  }

  .button {
    padding: 12px;
    max-width: 513px;
  }
}

@media (min-width: 1440px) {
  .join_section {
    padding: 48px 0;
  }

  .texts {
    padding: 78px 690px 78px 64px;
    background-image:
      linear-gradient(rgba(0, 0, 0, 0.2)), url(/images/Join/desktop-min.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  @media screen and (min-resolution: 2x), (-webkit-device-pixel-ratio: 2x) {
    .texts {
      background-image:
        linear-gradient(rgba(0, 0, 0, 0.2)),
        url(/images/Join/desktop\ 2x-min.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }

  .join_to {
    font-size: 48px;
    margin-bottom: 24px;
    max-width: 556px;
  }

  .tab {
    display: none;
  }

  .description {
    font-size: 20px;
    margin-bottom: 32px;
  }

  .button {
    font-size: 18px;
    padding: 10.5px 12px;
  }
}
