.header {
  padding: 18px 0;
}
.logo {
  display: flex;
  align-items: center;
  padding: 5px 0;
  gap: 3px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 17px;
  letter-spacing: -0.01em;
  color: var(--text);
}
.logo_icon {
  width: 23px;
  height: 23px;
}
