.paginateButton {
  display: block;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-white);
  border: 1px solid var(--color-royal-blue);
  border-radius: 8px;
  padding: 6px 12px;
  width: 100%;
  height: 48px;
  background-color: var(--color-royal-blue);
  margin: 0 auto;
  margin-bottom: 64px;
}

.paginateButton:hover,
.paginateButton:focus {
  background-color: var(--color-royal-blue-lighter);
  border-color: var(--color-royal-blue);
  color: var(--color-scheme-2-text);
}

.paginateButton:active {
  background-color: var(--color-royal-blue-light);
  border-color: var(--color-royal-blue);
  color: var(--color-scheme-2-text);
}

@media screen and (min-width: 768px) {
  .paginateButton {
    width: auto;
    min-width: 123px;
  }
}

@media screen and (min-width: 1440px) {
  .paginateButton {
    font-size: 18px;
    margin: 24px auto 72px;
    width: auto;
    min-width: 135px;
    margin-bottom: 72px;
  }
}
