.menuOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2000;
  display: flex;
  justify-content: center;
  min-width: 320px;
}

.menuContent {
  width: 100%;
  height: 100%;
  background-color: var(--background);
  padding: 32px 24px;
  overflow-y: auto;
  display: flex;
  justify-content: center;
}
.menuInnerWrapper {
  max-width: 335px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.menuHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}
.headerLinkLogo {
  display: flex;
  align-items: center;
  font-size: 17px;
}
.closeButton {
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--text);
  border: 1px solid var(--border);
  border-radius: 8px;
  padding: 4px;
  width: 32px;
  height: 32px;
  background: var(--opacity-neutral-darkest-5);
}
.menuNav {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 32px;
  justify-content: center;
}

.menuLink {
  display: block;
  text-decoration: none;
  color: var(--text);
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}
.authButtons {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  font-size: 16px;
  gap: 16px;
}

.menuButton {
  width: 100%;
  text-align: center;
  font-size: 18px;

  border-radius: 8px;
  text-decoration: none;
  cursor: pointer;
  font-size: 16px;
  background-color: black;
}
.menuButtonLogin {
  background-color: var(--color-white);
  color: var(--color-neutral-darkest);
  border: 1px solid var(--border);
  padding: 4px 0;
  max-width: 335px;
}

.menuButtonRegister {
  background-color: var(--color-royal-blue);
  color: var(--color-white);
  border: none;
  padding: 4px 0;
}

.profileLinkMobile {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-right: 8px;
  text-decoration: none;
  color: var(--color-black);
  font-weight: 400;
  font-size: 12px;
}
.userDefaultPhoto {
  background-image: url(/header/placeholder-image.png);
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.storyLinkElMob {
  display: block;
  text-align: center;
  padding: 4px 0;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
}
.storyButtonElMob {
  width: 100%;
  background-color: var(--color-royal-blue);

  font-weight: 500;
  font-size: 16px;

  border-radius: 8px;
  margin-bottom: 16px;
  color: var(--color-white);
}
.navUserWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.lineEl {
  list-style-type: none;
  padding: 0;
  margin: -5px;
}
.line {
  display: block;
  border: 1px solid rgba(0, 0, 0, 0.15);
  width: 29px;
  height: 0px;
  padding: 0;
  margin: 0;
  transform: rotate(-90deg);
  margin-left: -8px;
  margin-right: -8px;
}
.logoutButtonSvg {
  display: flex;
  fill: var(--text);
}
