.label {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--text);
}

.avatarBlock {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.avatarContainer {
  display: flex;
  align-items: center;
  gap: 24px;
}

.avatar {
  width: 117px;
  height: 117px;
  border-radius: 100%;
  background: #f2f2f2;
  object-fit: cover;
}

.uploadFotoBtn {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: var(--text);
  border: 1px solid var(--button-border);
  border-radius: 8px;
  padding: 4px 4px;
  max-width: 163px;

  background-color: var(--button);
}

.uploadFotoBtn:hover,
.uploadFotoBtn:focus {
  background-color: var(--button-hover);
  color: var(--button-hover-text);
}

.uploadFotoBtn:active {
  background-color: var(--button-active);
}
.fileInput {
  display: none;
}
