.paginationButton {
  border: 1px solid var(--color-royal-blue);
  border-radius: 8px;
  padding: 12px;
  background-color: var(--color-royal-blue);
  width: 100%;
  font-weight: 500;
  font-size: 16px;
  color: var(--color-white);
  margin-bottom: 64px;
}
