.pageTitle {
 width: 335px;
 height: 70px;
 margin: 0 auto;
 font-size: 32px;
 font-family: var(--second-family);
 font-weight: 700;
 line-height: 1.25;
  
}

.historyWrapper {
 display: flex;
 gap: 32px;
 flex-direction: column;
 align-items: center;
 background-color: var(--color-white);
 padding-top: 32px;
 padding-bottom: 64px;
}
